# ------------------------------------------------------------
# Delete backup files
# ------------------------------------------------------------
*.bak*

# ------------------------------------------------------------
# Delete the large waveform data file
# ------------------------------------------------------------
/SystemVerilog_HDL_RGB/Bit_Manipulation/simulation/modelsim/dump_*.vcd
/SystemVerilog_HDL_RGB/Bit_Manipulation_Power/simulation/modelsim/dump_*.vcd
/SystemVerilog_HDL_RGB/Standard/simulation/modelsim/dump_*.vcd

# ------------------------------------------------------------
# Delete the large simulation files
# ------------------------------------------------------------
/SystemVerilog_HDL_RGB/Bit_Manipulation/simulation/modelsim/wlft*
/SystemVerilog_HDL_RGB/Bit_Manipulation/simulation/modelsim/*.wlft
/SystemVerilog_HDL_RGB/Bit_Manipulation_Power/simulation/modelsim/wlft*
/SystemVerilog_HDL_RGB/Bit_Manipulation_Power/simulation/modelsim/*.wlft
/SystemVerilog_HDL_RGB/Standard/simulation/modelsim/wlft*
/SystemVerilog_HDL_RGB/Standard/simulation/modelsim/*.wlft
*.wlf
*.svo

# ------------------------------------------------------------
# Only keep small essentials in Python_Red/*/{dino,town,headshot}
# ------------------------------------------------------------

# Ignore everything inside each scene folder
/Python_Red/*/dino/**
/Python_Red/*/town/**
/Python_Red/*/headshot/**

# Unignore the scene folders themselves
!/Python_Red/*/dino/
!/Python_Red/*/town/
!/Python_Red/*/headshot/

# Keep timings + cfg
!/Python_Red/*/dino/compute_timings.txt
!/Python_Red/*/town/compute_timings.txt
!/Python_Red/*/headshot/compute_timings.txt

!/Python_Red/*/dino/*.cfg
!/Python_Red/*/town/*.cfg
!/Python_Red/*/headshot/*.cfg

# Keep raw input folders and contents
!/Python_Red/*/dino/cross_raw_data/
!/Python_Red/*/town/cross_raw_data/
!/Python_Red/*/headshot/cross_raw_data/

!/Python_Red/*/dino/cross_raw_data/**
!/Python_Red/*/town/cross_raw_data/**
!/Python_Red/*/headshot/cross_raw_data/**

!/Python_Red/*/dino/cross_raw_data_png/
!/Python_Red/*/town/cross_raw_data_png/
!/Python_Red/*/headshot/cross_raw_data_png/

!/Python_Red/*/dino/cross_raw_data_png/**
!/Python_Red/*/town/cross_raw_data_png/**
!/Python_Red/*/headshot/cross_raw_data_png/**

# Keep imported libraries original images
!/Python_Red/Imported_Libraries/
!/Python_Red/Imported_Libraries/cross_raw_data/
!/Python_Red/Imported_Libraries/cross_raw_data/**